<template>
    <li class="dropdown">
        <a href="#"
           class="dropdown-toggle"
           data-toggle="dropdown"
           role="button"
           aria-haspopup="true"
           aria-expanded="false"
           @click="markCurrentNotificationsRead">
            <i class="glyphicon glyphicon-bell notification-toggle"></i>
            <span class="badge notification-counter"
                  v-if="unreadNotifications.length >0"
                  :class="{'badge-error':unreadNotifications.length > 0}">
                {{unreadNotifications.length}}
            </span>
        </a>
        <ul class="dropdown-menu">
            <li>
                <a href="#">Latest Notifications</a>
            </li>
            <li role="separator" class="divider"></li>
            <li v-for="notification, index in notifications"
                :class="{'dismissed-notification': !!notification.is_dismissed }">
                <a href="#" class="small">
                    <strong v-if="notification.transfer">Transfer:</strong>
                    <strong v-if="notification.message">Message:</strong>
                    <span>{{getNotificationMessageString(notification)}}</span>
                </a>
            </li>

            <li v-if="notifications.length ===0">
                <a href="#">No notifications at this time</a>
            </li>

        </ul>
    </li>
</template>

<script type="text/javascript">

	export default {
		data() {
			return {
				notifications: [],
				currencySymbol: 'VC'
			};
		},

		computed: {
			unreadNotifications() {
				return this.notifications.filter(notification => !notification.is_dismissed);
			}
		},

		methods: {
			getNotificationMessageString(notification) {
				if (notification.message) {
					return notification.message;
				}

				if (notification.transfer) {
					//todo add Moment and append the time ago or a propert date
					return `
					${notification.transfer.user.email} sent you
					${notification.transfer.amount.toFixed(2)} ${this.currencySymbol}`;
				}
			},

			async updateNotifications() {
				const {data} = await window.axios.get('/notifications');
				this.notifications = data.notifications;
			},

			markCurrentNotificationsRead() {
				const dismissIds = this.unreadNotifications.map(notification => notification.id);
				if (dismissIds.length > 0) {
					setTimeout(async () => {
						await window.axios.post('/notifications', {notificationsToDismiss: dismissIds});
						this.updateNotifications();
					}, 3000);

				}
			}
		},

		mounted: function() {
			this.updateNotifications();
			setInterval(this.updateNotifications, 5000);
		}
	};

</script>

<style scoped>
    .badge-error {
        background-color: #b94a48;
    }

    .dismissed-notification {
        opacity: 0.6;
    }

    .dismissed-notification:hover {
        opacity: 1;
    }
</style>
