<template>
    <div>
        <div class="row form-inline text-center">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label">Your current balance</label>
                    <p class="form-control-static">{{startingBalance.toFixed(2)}} {{currencySymbol}}</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group" :class="{'text-danger':remainingBalance < 0}">
                    <label class=" control-label">Balance after transfers</label>
                    <p class="form-control-static">{{remainingBalance}} {{currencySymbol}}</p>

                </div>
            </div>
        </div>

        <hr>

        <div class="row">
            <div class="text-center col-md-12">
                <form class="form-inline">
                    <div class="form-group"
                         :class="{'has-error':!isNewRecipientAmountValid && newRecipientAmount!==''}">
                        <label class="sr-only" for="recipientAmount">Amount</label>
                        <div class="input-group">
                            <input type="number"
                                   class="form-control"
                                   id="recipientAmount"
                                   placeholder="Amount"
                                   required
                                   min="0"
                                   :max="remainingBalance"
                                   step="0.01"
                                   v-model.number="newRecipientAmount">
                            <div class="input-group-addon">{{currencySymbol}}</div>
                        </div>
                    </div>

                    <div class="form-group"
                         :class="{'has-error':!isNewRecipientEmailValid && newRecipientEmail.length > 0 }">
                        <label class="sr-only" for="recipientEmail">Email</label>
                        <div class="input-group">
                            <input type="email"
                                   class="form-control"
                                   id="recipientEmail"
                                   placeholder="someone@example.com"
                                   required
                                   v-model="newRecipientEmail">
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary"
                            @click.prevent="addRecipient"
                            :disabled="!isNewRecipientEmailValid || !isNewRecipientAmountValid || recipients.length >= maxNumberOfRecipients">
                        Add to list
                    </button>
                </form>
            </div>
        </div>

        <div v-if="showUserDoesNotExistMessage">
            <br>
            <div class="bg-danger text-center">
                Email address <strong>{{newRecipientEmail}}</strong> does not exist in our system
            </div>
        </div>

        <div v-if="recipients.length >= maxNumberOfRecipients">
            <br>
            <div class="bg-warning text-center">
                Maximim {{maxNumberOfRecipients}} recipients allowed per transaction
            </div>
        </div>

        <br>

        <div class="row">
            <div class="col-md-10 col-md-offset-1" v-if="recipients.length">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th class="text-center">Recipient</th>
                        <th class="text-right">Amount</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tr v-for="recipient in recipients">
                        <td class="text-center">

                            {{recipient.email}}
                        </td>
                        <td class="text-right">{{recipient.amount.toFixed(2)}} {{currencySymbol}}</td>
                        <td class="text-center">
                            <button class="btn btn-link btn-sm" @click="removeRecipient(recipient)">Remove</button>
                        </td>
                    </tr>
                    <tfoot v-if="recipients.length >1">
                    <tr>
                        <td class="text-right">
                            <strong>Total</strong>
                        </td>
                        <td class="text-right">
                            {{totalTransferSum}} {{currencySymbol}}
                        </td>
                        <td></td>
                    </tr>
                    </tfoot>
                </table>
            </div>

            <br>

            <div class="col-md-8 col-md-offset-2">
                <div class="text-center">
                    <div class="alert alert-danger" v-if="showTransferErrorMessage">
                        <button type="button"
                                class="close"
                                aria-label="Close"
                                @click="showTransferErrorMessage =false">
                            <span aria-hidden="true">&times;</span></button>
                        <strong>This transaction could not be processed.</strong>
                        <p>Please reload the page and try again and contact us if the problem persists.</p>
                    </div>
                    <div class="alert alert-success" v-if="showTransferCompletedMessage">
                        <button type="button"
                                class="close"
                                aria-label="Close"
                                @click="showTransferCompletedMessage =false">
                            <span aria-hidden="true">&times;</span></button>
                        <strong>Success!</strong>
                        <p>Transfer completed. Click <a href="/dashboard" class="alert-link">here</a> to return to the
                           dashboard.</p>
                    </div>
                    <button class="btn btn-default btn-lg"
                            :class="{'btn-success':allowTransfer}"
                            :disabled="!allowTransfer"
                            @click="commitTransfer">
                        Send {{totalTransferSum}} {{currencySymbol}}
                    </button>
                </div>
            </div>
        </div>

    </div>
</template>

<script type="text/javascript">

    //todo put this somewhere easily reusable
	function validateEmail(email) {
		const regexp = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
		return regexp.test(String(email).toLowerCase());
	}

	export default {
		props: ['currentUserBalance'],
		data() {
			return {
				startingBalance: Math.floor(this.currentUserBalance * 100) / 100,
				currencySymbol: 'VC',//todo make this currency symbol global from an env variable
				newRecipientAmount: '',
				newRecipientEmail: '',
				recipients: [],
				loading: false,
				showTransferErrorMessage: false,
				showTransferCompletedMessage: false,
				showUserDoesNotExistMessage: false,
				maxNumberOfRecipients: 10
			};
		},

		computed: {
			resetMessaging() {
				this.showTransferErrorMessage = false;
				this.showTransferCompletedMessage = false;
			},

			isNewRecipientAmountValid() {
				if (!isNaN(this.newRecipientAmount - parseFloat(this.newRecipientAmount))) {
					return this.newRecipientAmount <= this.remainingBalance;
				}
				return false;
			},

			isNewRecipientEmailValid() {
				return validateEmail(this.newRecipientEmail);
			},

			totalTransferSum() {
				let transfersSum = 0;
				this.recipients.forEach(recipient => {
					transfersSum += recipient.amount;
				});

				return transfersSum.toFixed(2);
			},

			remainingBalance() {
				return (this.startingBalance - this.totalTransferSum).toFixed(2);
			},

			allowTransfer() {
				return (
					this.remainingBalance >= 0
					&& !this.loading
					&& this.recipients.length > 0
					&& this.totalTransferSum > 0
				);
			}
		},

		methods: {
			async addRecipient() {
				//todo merge any transactions made to the same email address
				this.showTransferErrorMessage = false;
				this.showTransferCompletedMessage = false;
				this.showUserDoesNotExistMessage = false;

				if (this.newRecipientAmount > 0) {
					const userExists = await this.checkUserExists(this.newRecipientEmail);
					console.log(userExists);
					if (userExists) {
						this.recipients.push({
							email: this.newRecipientEmail,
							amount: this.newRecipientAmount
						});

						this.newRecipientEmail = '';
						this.newRecipientAmount = '';
					} else {
						this.showUserDoesNotExistMessage = true;
					}

				}
			},

			removeRecipient(recipient) {
				this.recipients.splice(this.recipients.indexOf(recipient), 1);
			},

			async commitTransfer() {
				this.showTransferErrorMessage = false;
				this.showTransferCompletedMessage = false;
				this.loading = true;
				try {
					const {data} = await window.axios.post('/transfers', {recipients: this.recipients});
					this.recipients = [];
					this.updateBalance();
					this.showTransferCompletedMessage = true;
				} catch (error) {
					this.showTransferErrorMessage = true;
				}

				this.loading = false;
			},

			async updateBalance() {
				const {data} = await window.axios.get('/balance-summary');
				this.startingBalance = Math.floor(data.balance * 100) / 100;
			},

			async checkUserExists(email) {
				const {data} = await window.axios.get('/user-lookup', {params:{email: email}});
				return data.exists;
			}
		},

		mounted() {
			window.setInterval(() => {
				this.updateBalance();
			}, 10000);
		}
	};

</script>

<style scoped>
    #recipientAmount {
        min-width: 125px;
    }

    #recipientEmail {
        min-width: 200px;
    }
</style>
