<template>
    <div>
        <div class="row form-inline text-left">
            <div class="col-md-6">
                <div class="form-group">
                    <label class=" control-label">Total accrued over time</label>
                    <p class="form-control-static">{{accruedAmount.toFixed(2)}} {{currencySymbol}}</p>

                </div>
                <div class="form-group">
                    <label class=" control-label">Total you sent to other people</label>
                    <p class="form-control-static">{{totalSent.toFixed(2)}} {{currencySymbol}}</p>

                </div>
                <div class="form-group">
                    <label class=" control-label">Total you received from other people</label>
                    <p class="form-control-static">{{totalReceived.toFixed(2)}} {{currencySymbol}}</p>

                </div>
            </div>
            <div class="col-md-6">
                <div class="well text-center">
                    <label class="control-label">Your current balance</label>
                    <h2>{{balance.toFixed(2)}} {{currencySymbol}}</h2>

                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <h3>Received</h3>

                <table class="table is-bordered is-striped">
                    <thead>
                    <tr>
                        <th>Date</th>
                        <th>From</th>
                        <th>Amount</th>
                    </tr>
                    </thead>
                    <tbody class="small">
                    <tr v-for="transfer in receivedTransfers">
                        <td>{{transfer.created_at}} UTC <!-- todo use moment to get the user's time --></td>
                        <td>{{transfer.user.email}}</td>
                        <td class="text-right">{{transfer.amount.toFixed(2)}} {{currencySymbol}}</td>
                    </tr>
                    </tbody>
                    <tfoot>
                    <tr>
                        <td></td>
                        <td class="text-right">Total</td>
                        <td class="text-right">{{totalReceived.toFixed(2)}} {{currencySymbol}}</td>
                    </tr>
                    </tfoot>

                </table>
            </div>

            <div class="col-md-6">
                <h3>Sent</h3>
                <table class="table is-bordered is-striped">
                    <thead>
                    <tr>
                        <th>Date</th>
                        <th>To</th>
                        <th>Amount</th>
                    </tr>
                    </thead>
                    <tbody class="small">
                    <tr v-for="transfer in sentTransfers">
                        <td>{{transfer.created_at}} UTC <!-- todo use moment to get the user's time --></td>
                        <td>{{transfer.recipient.email}}</td>
                        <td class="text-right">{{transfer.amount.toFixed(2)}} {{currencySymbol}}</td>
                    </tr>
                    </tbody>
                    <tfoot>
                    <tr>
                        <td></td>
                        <td class="text-right">Total</td>
                        <td class="text-right">{{totalSent.toFixed(2)}} {{currencySymbol}}</td>
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>

    </div>
</template>

<script type="text/javascript">

	export default {
		data() {
			return {
				currencySymbol: 'VC',
				accruedAmount: 0,
				balance: 0,
				receivedTransfers: [],
				sentTransfers: []
			};
		},
		computed: {
			totalSent() {
				let total = 0;
				this.sentTransfers.forEach((transfer) => {
					total += transfer.amount;
				});
				return total;
			},
			totalReceived() {
				let total = 0;
				this.receivedTransfers.forEach((transfer) => {
					total += transfer.amount;
				});
				return total;
			}
		},
		methods: {
			async refresh() {
				const {data} = await window.axios.get('/transfers');
				this.accruedAmount = data.balanceSummary.accrued;
				this.balance = data.balanceSummary.balance;
				this.receivedTransfers = data.received;
				this.sentTransfers = data.sent;
			}
		},
		mounted() {
			this.refresh();
			setInterval(() => {
				this.refresh();
			}, 5000);
		}
	};

</script>

<style scoped>

</style>
